.container {
  display: grid;
  max-width: 1200px;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  margin: 0 auto;
  padding: 40px 20px;
  align-items: start;
  background: var(--c13);
  color: var(--c6);
}

.title {
  color: #000;
  font-size: 144px;
  font-style: normal;
  font-weight: 700;
  line-height: 144px;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 330px;
}

.experience {
  color: var(--c6, #a3a3a3);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 133.333% */
  margin-bottom: 3.75rem;
  margin-right: 8.5rem;
}

.experience span {
  color: var(--c13, #141414);
  font-weight: 700;
}

.description {
  color: var(--c10, #525252);
  font-family: Fira Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 133.333% */
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  gap: 10px;

  border-radius: 5px;
  border: 1px solid var(--c2, #f0f0f0);
  background: var(--c1, #f5f5f5);

  padding: 20px;
  margin-bottom: 20px;
}

.list::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 20px;
  background: linear-gradient(180deg, #b6f829 0%, #67dd0a 100%);
  flex-shrink: 0;
  left: -5px;
  top: 19px;
}

.list h2 {
  margin: 0px;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 111.111% */
}

.tags p {
  margin: 0px;
  display: inline-flex;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  background: #fff;
}

.year {
  position: absolute;
  left: -95px;
  top: 20px;
  text-align: right;
  width: 80px;

  color: var(--c10, #525252);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
