.content {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  padding: 40px 20px;
  margin: 0 auto;
  align-items: center;
}

.introImage {
  display: block;
  max-width: 100%;
  object-fit: cover;
  z-index: 3;
}

.intro {
  position: relative;
}

.intro h1 {
  font-size: 72px;
  margin: 0;
}

.intro p {
  color: var(--c10);
  font-size: 24px;
  margin: 0;
  margin-top: 30px;
}

.intro::before {
  content: '';
  display: block;
  width: 140px;
  height: 100px;
  background: url('/detalhe.svg') no-repeat center;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}

.iconWrapper {
  display: flex;
  margin-top: 30px;
  align-items: center;
  gap: 24px;
}

// .detail {
//   position: absolute;
//   z-index: -1;
//   top: -10px;
//   left: -25px;
// }

#mask {
  position: relative;
  width: 350px;
  height: 520px;
  display: flex;
  justify-self: center;
  align-items: center;
  border-radius: 5px;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
  overflow: hidden;
}

#mask::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 190%;
  left: 100px;
  background-image: linear-gradient(
    to bottom,
    rgba(112, 218, 28, 1) 30%,
    rgba(204, 242, 53, 1) 60%
  );
  box-shadow: 0 0 20px black;
  animation: animate 6s linear infinite;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
}

#mask::after {
  content: '';
  position: absolute;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
  inset: 10px;
  background: black;
  background: url(/principal-image.jpg) no-repeat;
  background-position: -3px -35px;
  // object-fit: cover;
  border-radius: 5px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 40px 20px;
  }

  .intro {
    order: 2;
  }

  .intro h1 {
    font-size: 2rem;
  }

  .intro p {
    font-size: 18px;
  }

  .intro::before {
    width: 30px;
    height: 10px;
    top: -10px;
    left: 0px;
  }

  .iconWrapper {
    margin-top: 20px;
  }

  #mask {
    display: none;
  }
}
