.Card {
  border-radius: 5px;
  border: 1px solid #000;
  background: #1d1d1d;
  padding: 1.25rem;
  margin: 0 10px;

  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
}

.title {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
}

.project {
  color: var(--c6, #a3a3a3);
  font-size: 0.875rem;
  font-weight: 400;
}

.topic {
  margin: 0 10px;
  padding: 0.5rem 1rem;

  border: 1px solid #a3a3a3;
  border-radius: 4px;
  &:first-child {
    /* Estilos para o primeiro elemento aqui */
    margin-left: 0px;
  }

  /* Seleciona o último elemento com a classe 'minha-classe' */
  &:last-child {
    /* Estilos para o último elemento aqui */
    margin-right: 0px;
  }
}
