$c1: #f5f5f5;
$c2: #f0f0f0;
$c3: #e0e0e0;
$c4: #ccc;
$c5: #b8b8b8;
$c6: #a3a3a3;
$c7: #8f8f8f;
$c8: #7a7a7a;
$c9: #666;
$c10: #525252;
$c11: #3d3d3d;
$c12: #292929;
$c13: #141414;

:export {
  c1: $c1;
  c2: $c2;
  c3: $c3;
  c4: $c4;
  c5: $c5;
  c6: $c6;
  c7: $c7;
  c8: $c8;
  c9: $c9;
  c10: $c10;
  c11: $c11;
  c12: $c12;
  c13: $c13;
}
