.container {
  display: grid;
  max-width: 1200px;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  margin: 0 auto;
  padding: 40px 20px;
  align-items: start;
}

.title {
  color: var(--c3, #e0e0e0);
  font-size: 144px;
  font-style: normal;
  font-weight: 700;
  line-height: 144px;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 330px;
}

.experience {
  color: var(--c10, #525252);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 133.333% */
  margin-bottom: 3.75rem;
  margin-right: 8.5rem;
}

.experience span {
  color: var(--c13, #141414);
  font-weight: 700;
}
